.register div.card.fluid, .register div.message{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.register h1.header {
    text-align: center;
}

.register .field.category .field {
    display: inline-block !important;
    margin-right: 40px;
}

.register > .ui.card {
    margin-top: 6%;
    margin-bottom: 8%;
}

#forgot {
    float: right;
}