#profile .profile-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#profile > .segment {
    width: 90%;
    margin: auto;
}

.ui.card .extra.content {
    /* padding: 0 !important; */
    background: #e8e8e8 !important;
}

.ui.card .extra.content a {
    width: 100% !important;
}