body {
    font-family: 'Lato' !important;
}

@media only screen and (min-width: 1300px) {
    #app-body {
        max-width: 95%;
        margin: auto;
    }
}

#root {
    overflow-x: hidden;
}

.main {
    background: white;
}

#root > div:nth-of-type(1) {
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
}

.myCard .extra.content {
    display: flex;
}

.myCard .card-img {
    width: 290px !important;
    height: 218px !important;
}

.head-label {
    font-size: 1em !important;
    margin: 0 !important;
    display: inline !important;
}