#search {
    padding: 40px 20px;
}

.search-card a{
    display: block;
    padding: 202px 0 202px 75px;
    font-size: 26px;
    background: #1B1C1D;
    border-radius: 5px;
    color: white;
    line-height: 1em;
}

#search .label.big {
    margin-top: 15px !important;
}

#search .twelve > .segment:nth-of-type(1) {
    padding-top: 0 !important;
    padding-left: 0 !important;
}

.rightside, .rightside > div, .rightside > div > div {
    padding-left: 0 !important;
}
.leftside {
    padding-right: 0 !important;
}