#navbar a {
    font-weight: bold;
}

.logo {
    padding: 10px 10px 5px 10px;
    width: 150px;
}

#navbar {
    border-radius: 0;
    margin: 0;
    border-bottom: 0.2px solid #424343;
}

.myNav .ui.dimmer {
    width: 100vw !important;
    height: 100vh !important;
    background: black !important;
}

.mobile-navbar {
    margin: 0 !important;
}