.post {
    padding: 20px;
}

.post .blog-content {
    font-style: normal;
    font-size: 21px;
    padding: 30px 20px;
    line-height: 1.58;
    letter-spacing: -.003em;
    word-break: break-word;
}

.post-tags {
    padding-left: 20px;
    margin-top: 20px;
}

.read-more {
    display: block !important;
}

.topics .content {
    font-weight: bold !important;
}

.topics .item {
    margin-top: 10px;
}

.topics .header {
    margin-bottom: 18px !important;
}

.post-img {
    max-width: 60vw;
    margin: auto;
    display: block;
}