.slides {
    position: relative;
    /* padding-top: 10px; */
    margin-top: 0 !important;
}

.slides img{
    height: 350px;
}

.slick-prev, .slick-next {
    position: absolute !important;
    top: 50% !important;
}

.slick-prev::before, .slick-next::before {
    color: #1b1c1d !important;
}

.slick-list {
    width: 78% !important;
    margin: auto;
}

.slick-list {
    margin: 0 !important;
    overflow: visible !important;
}

.slick-track {
    width: 1820% !important;
}

div.slick-active {
    width: 8.8%;
}

/* .slick-slide {
    opacity: 0;
}

.slick-active {
    opacity: 1;
} */

.slick-prev {
    left: 2% !important;
    z-index: 99;
}
.slick-next {
    right: 2% !important;
    z-index: 99;
}

.slides ul {
    background: #1e5799; /* Old browsers */
}

.slides ul {
    display: none !important;
}