.slides {
    position: relative;
    background: #1e5799;
    background: -moz-linear-gradient(-45deg, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%);
    /* padding-top: 10px; */
    margin-top: 0 !important;
}

.slides .extra.content {
    /* padding: 0 !important; */
    background: #e8e8e8 !important;
}

.slides .extra.content a {
    width: 100% !important;
}

.slick-prev, .slick-next {
    position: absolute;
    top: 50%;
}

.slick-prev::before, .slick-next::before {
    color: #1b1c1d !important;
}

.slick-list {
    width: 89%;
    margin: auto;
}

.slick-prev {
    left: 2%;
}
.slick-next {
    right: 2%;
}

.slides ul {
    background: #1e5799; /* Old browsers */
}